<div id="page3">
  <a id="contact" class="smooth"></a>
  <div class="heading1">
    <h2>Contact Me</h2>
  </div>
  <div class="contactform">
    <form class="" action="email.php" method="post" enctype="text/plain">
      <label>Name</label>
        <input name="name" id="name" placeholder="Type Here">
      <label>Email</label>
        <input name="email" id="email" type="email" placeholder="Type Here">
      <label>Message</label>
        <textarea name="message" id="message" placeholder="Type Here"></textarea>
      <button type="submit" class="submit" value="Submit">Submit</button>
    </form>
  </div>
</div>