<div id="page1">
  <a id="home" class="smooth"></a>
  <div class="welcome">
    <p>Michigan-based Front-End Web Developer with a strive to design websites.  I love coding, sports, and competitive video games.</p>
  </div>

  <div class="img-container">
    <div><img ng-src="images/smashbros.JPG" class="img-4"></div>
    <div><img ng-src="images/pikachu.png" class="img-3"></div>
    <div><img ng-src="images/brule.png" class="img-2"></div>
    <div><img ng-src="images/soccer.png" class="img-1"></div>
  </div>
</div>