<div id="page2">
  <a id="about" class="smooth"></a>
  <div class="heading1">
    <h2>Facts About Myself</h2>
  </div>


<!-- Facts About Myself -->
<div class="factsbox">
  <div class="facts">
    <ol>
      <li>A mixture of mainly Polish, less Ukranian, and even less German</li>
      <li>Competitive E-Sports Player</li>
      <li>Played soccer since the age of 3</li>
      <li>Avid Computer Builder</li>
      <li>If I wasn't going to be a programmer, I'd be a musician</li>
    </ol>
  </div>
</div>

  <div class="heading2">
    <h2>Bands and Books</h2>
  </div>

<!-- Bands and Books I Like -->
<div class="foodbox">
  <div class="food">
    <ul>
      <li>The Beatles</li>
      <li>Tame Impala</li>
      <li>Nas</li>
      <li>Artemis Fowl series by Eoin Colfer</li>
      <li>Divide by Elizabeth Kay</li>
    </ul>
  </div>
</div>
</div>
